

<h2>Húrnégyszög területszámítás</h2>

<form action="calc.php" method="get">

<div >
    
    <label for="aside" class="form-label">a oldal</label>
    <input type="text" name="aside" id="aside">
</div>
<div >
    <label for="bside"class="form-label">b oldal</label>
    <input type="text" name="bside" id="bside">
</div>
<div >
    
    <label for="cside"class="form-label">c oldal</label>
    <input type="text" name="cside" id="cside">
</div>
<div >
    
    <label for="dside"class="form-label">d oldal</label>
    <input type="text" name="dside" id="dside">
</div >
<button type="submit" name="submit"
class="btn btn-outline-danger">Számít</button>




</form>